# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Results
MLP_results/
CUSUM_results/

# OS
.DS_Store

# Dataset (Optional: uncomment if you don't want to push 20MB CSV)
# Dataset/dataset.csv
